<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">COVID 19 came and took the world with storm. However, since it is affecting some groups more than others, this initiative came up.</p>
  <hr class="my-4">
  <p>To help high risk people this site will collect their needs shopping-wise and you who do not belong to that same group can assign a list to you and go shop - helping others help others!</p>
  <%= link_to "Now! Go Shop for Someone", lists_url, {:class => "btn btn-primary btn-lg" }%>
  <%= link_to "Need help? Add your list!", new_list_url, {:class => "btn btn-primary btn-lg" }%>
</div>
<div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>